@using ProjectManagement.Data

@{
    ViewData["Title"] = "Add Project";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/pages-css/steper-style.css" rel="stylesheet" />
    <link href="~/pages-css/add-project.css?v=1" rel="stylesheet" />
}

<div class="container">
    <h4 class="page-header mt-3">Add Project</h4>
    <p class="mb-3">@ViewBag.ProjectSector.Sector</p>


    <div id="successMessage" class="alert alert-success text-center" role="alert">
        Project Submitted Successfully!
    </div>

    <form id="formStep1">
        <div class="card card-body">
            <ul class="progressbar">
                <li class="active">Step 1</li>
                <li>Step 2</li>
            </ul>

            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="hidden" id="hiddenProjectSectorId" value="@ViewBag.ProjectSector.ProjectSectorId">
                        <input type="text" id="inputTitle" class="form-control" required>
                        <label for="inputTitle">Title</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputDescription" class="form-control">
                        <label for="inputDescription">Description</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputStartDate" value="@DateTime.Now.ToString("d MMMM, yyyy")" class="form-control datepicker">
                        <label for="inputStartDate">Start Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputEndDate" class="form-control datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")">
                        <label for="inputEndDate">End Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <select id="selectStatus" asp-items="@ViewBag.Status" class="mdb-select md-form" searchable="Search here..">
                            <option value="" disabled selected>Choose Status</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="md-form mb-0">
                        <input type="text" id="inputDonors" autocomplete="off" class="form-control">
                        <label for="inputDonors">Find Donor</label>
                    </div>
                    <div id="donor-container" class="mb-4"></div>
                </div>
                <div class="col-lg-7">
                    <div class="md-form">
                        <input type="text" id="inputSectors" class="form-control" disabled value="@ViewBag.ProjectSector.Sector">
                        <label for="inputSectors">Sector</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputTotalBudget" class="form-control number-mask" autocomplete="off">
                        <label for="inputTotalBudget">Total Budget</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputTotalExpenditure" class="form-control number-mask" autocomplete="off">
                        <label for="inputTotalExpenditure">Total Expenditure</label>
                    </div>
                </div>
            </div>

            <fieldset class="border px-4 pb-4 pt-2 rounded mt-3">
                <legend class="w-auto m-0">Location</legend>
                <div class="row">
                    <div class="col-lg-4">
                        <select asp-items="@ViewBag.Country" id="selectCountry" class="mdb-select md-form m-0" searchable="Search here..">
                            <option value="" disabled selected>Country</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <select id="selectState" class="mdb-select md-form m-0" searchable="Search here..">
                            <option value="" disabled selected>State</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <select id="selectCity" class="mdb-select md-form m-0" searchable="Search here..">
                            <option value="" disabled selected>City</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <div class="row my-4">
                <div class="col-lg-12">
                    <div class="md-form">
                        <div class="file-field">
                            <div class="btn btn-outline-info btn-rounded btn-sm float-left">
                                <span>Choose Photo</span>
                                <input id="inputPhoto" type="file" accept="image/*">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="filePath" class="file-path validate" type="text" placeholder="Upload Photo">
                            </div>
                        </div>
                        <span id="imageError" class="field-validation-error"></span>
                    </div>
                </div>
            </div>

            <label id="beneficiaryError" class="red-text d-inline-block"></label>
            <table class="table">
                <thead class="grey lighten-5">
                    <tr>
                        <th>
                            <select asp-items="@ViewBag.Type" id="selectBeneficiaryType" class="mdb-select md-form m-0">
                                <option value="" disabled selected>Beneficiary Type</option>
                            </select>
                        </th>
                        <th>
                            <div class="md-form m-0">
                                <input type="text" id="inputBeneficiaryCount" class="form-control">
                                <label for="inputBeneficiaryCount">Beneficiary Count</label>
                            </div>
                        </th>
                        <th class="text-right" style="width: 130px">
                            <button id="btnBeneficiaryAdd" type="button" class="btn btn-sm btn-outline-success btn-rounded mb-0"><i class="fas fa-user-plus"></i> Add</button>
                        </th>
                    </tr>
                </thead>
                <tbody id="beneficiaryTypeBody"></tbody>
            </table>
        </div>

        <div class="text-right mt-4">
            <button id="btnSubmit1" type="submit" class="btn btn-custom-bg">Submit</button>
            <button id="btnNext" class="btn btn-outline-info">Next Step <i class="fas fa-arrow-right ml-2"></i></button>
        </div>
        
    </form>

    <form id="formStep2">
        <div class="card card-body">
            <ul class="progressbar">
                <li class="active">Step 1</li>
                <li class="active">Step 2</li>
            </ul>
            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputProjectName" class="form-control" disabled>
                        <label for="inputProjectName">Project Name</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputSubmissionDate" class="form-control datepicker" value="@DateTime.Now.ToString("d MMMM, yyyy")">
                        <label for="inputSubmissionDate">Submission Date</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <select asp-items="@ViewBag.ReportType" id="selectReportName" class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>Report Name</option>
                    </select>
                    <span id="errorReportName" class="red-text"></span>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <div class="file-field">
                            <div class="btn btn-outline-info btn-rounded btn-sm float-left">
                                <span>Choose Attachment</span>
                                <input id="inputAttachment" type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul id="report-list" class="list-group list-group-flush"></ul>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <button id="btnPrevious" type="button" class="btn btn-grey"><i class="far fa-long-arrow-alt-left mr-1"></i>Previous</button>
            <button id="btnSubmit" type="submit" class="btn btn-custom-bg">Submit</button>
        </div>
        <p id="submitError" class="red-text text-right"></p>
    </form>
</div>

@section Scripts{
    <script src="~/pages-js/add-project.js"></script>
    <script>
        $(function () {
            $('.mdb-select').materialSelect();
            $('.datepicker').pickadate();
        });

        var elements = document.getElementsByClassName("number-mask");
        const options = {
            mask: Number, // enable number mask
            scale: 2, // digits after point, 0 for integers
            signed: false, // disallow negative
            thousandsSeparator: ',', // any single char
            padFractionalZeros: false, // if true, then pads zeros at end to the length of scale
            normalizeZeros: true, // appends or removes zeros at ends
            radix: ',', // fractional delimiter
            mapToRadix: ['.'], // symbols to process as radix
            min: -10000,
            max: 1000000000
        }

        for (var i = 0; i < elements.length; i++) {
            IMask(elements[i], options);
        }
    </script>
}