@model ProjectEditViewModel
@{
    ViewData["Title"] = "Update Project";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/pages-css/steper-style.css" rel="stylesheet" />
    <link href="~/pages-css/add-project.css?v=1" rel="stylesheet" />
    <style>
        .file-photo { width: 100px; height: 100px; }
    </style>
}

<div class="container">
    <h4 class="page-header mt-3">Update Project</h4>
    <p class="mb-3">@ViewBag.ProjectSector.Sector</p>


    <div id="successMessage" class="alert alert-success text-center" role="alert">
        Project Submitted Successfully!
    </div>

    <form id="formStep1">
        <div class="card card-body">
            <ul class="progressbar">
                <li class="active">Step 1</li>
                <li>Step 2</li>
            </ul>

            <div class="row">
                <div class="col-lg-5">
                    <div class="md-form">
                        <input type="hidden" id="hiddenProjectSectorId" value="@ViewBag.ProjectSector.ProjectSectorId">
                        <input type="text" id="inputTitle" value="@Model.Title" class="form-control" required>
                        <label for="inputTitle">Title</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputDescription" value="@Model.Description" class="form-control">
                        <label for="inputDescription">Description</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="md-form">
                        <input type="text" id="inputKeyword" value="@Model.KeyWord" class="form-control">
                        <label for="inputKeyword">Keyword</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputStartDate" value="@Model.StartDate.Value.ToString("d MMM yyyy")" class="form-control datepicker">
                        <label for="inputStartDate">Start Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputEndDate" class="form-control datepicker" value="@Model.EndDate.Value.ToString("d MMM yyyy")e">
                        <label for="inputEndDate">End Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <select id="selectStatus" asp-items="@ViewBag.Status" class="mdb-select md-form" searchable="Search here..">
                            <option value="" disabled selected>Choose Status</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="md-form mb-0">
                        <input type="text" id="inputDonors" autocomplete="off" class="form-control">
                        <label for="inputDonors">Find Donor</label>
                    </div>
                    <div id="donor-container" class="mb-4">
                        @foreach (var donor in Model.ProjectDonors)
                        {
                            <span>
                                <strong>@donor.Name</strong>
                                <i data-id="@donor.DonorId" class="delete fas fa-times-circle"></i>
                            </span>
                        }
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="md-form">
                        <input type="text" id="inputDonorType" value="@Model.DonorType" autocomplete="off" class="form-control">
                        <label for="inputDonorType">Donor Type</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputSectors" class="form-control" disabled value="@ViewBag.ProjectSector.Sector">
                        <label for="inputSectors">Sector</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputTotalBudgetBdt" value="@Model.TotalBudgetBdt" class="form-control number-mask" autocomplete="off">
                        <label for="inputTotalBudgetBdt">Total Budget BDT</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputTotalBudgetUsd" value="@Model.TotalBudgetUsd" class="form-control number-mask" autocomplete="off">
                        <label for="inputTotalBudgetUsd">Total Budget USD</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <input type="text" id="inputTotalExpenditure" value="@Model.TotalExpenditure" class="form-control number-mask" autocomplete="off">
                        <label for="inputTotalExpenditure">Total Expenditure</label>
                    </div>
                </div>
            </div>

            <fieldset class="border px-4 pb-4 pt-2 rounded mt-3">
                <legend class="w-auto m-0">Location</legend>
                <div class="row">
                    <div class="col-lg-3">
                        <select asp-items="@ViewBag.Country" id="selectCountry" class="mdb-select md-form m-0" searchable="Search here..">
                            <option value="" disabled selected>District</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select id="selectState" class="mdb-select md-form m-0" searchable="Search here..">
                            <option value="" disabled selected>Sub-District</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select id="selectCity" class="mdb-select md-form m-0" searchable="Search here..">
                            <option value="" disabled selected>Village</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <button id="btnLocationAdd" type="button" class="btn btn-sm btn-outline-success btn-rounded mb-0"><i class="fas fa-map-marker-alt"></i> Add Location</button>
                    </div>
                </div>

                <table class="table table-sm mt-4">
                    <thead>
                        <tr>
                            <th><strong>District</strong></th>
                            <th><strong>Sub-District</strong></th>
                            <th><strong>Village</strong></th>
                        </tr>
                    </thead>
                    <tbody id="bodyLocation">
                        @foreach (var location in Model.Locations)
                        {
                            <tr>
                                <td>@location.CountryName</td>
                                <td>@location.StateName</td>
                                <td>@location.CityName</td>
                                <td><i data-id="@location.CityId" class="remove fas fa-trash-alt"></i></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>

            <div class="row mt-3">
                <div class="col-lg-2">
                    <img id="imgFilePhoto" src="@(string.IsNullOrEmpty(Model.FilePhotoUrl)? "/images/default.jpg" : $"/FILES/projectReports/{Model.FilePhotoUrl}")" class="file-photo" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="md-form">
                        <div class="file-field">
                            <div class="btn btn-outline-info btn-rounded btn-sm float-left">
                                <span>Choose Photo</span>
                                <input id="inputPhoto" type="file" accept="image/*">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="filePath" class="file-path validate" type="text" placeholder="Upload Photo">
                            </div>
                        </div>
                        <span id="imageError" class="field-validation-error"></span>
                        <img src="@Model.FilePhoto" alt="" />
                    </div>
                </div>
            </div>

            <fieldset class="border px-4 pb-4 pt-2 rounded mt-3">
                <legend class="w-auto m-0">Beneficiary</legend>
                <div class="row">
                    <div class="col-lg-4">
                        <select asp-for="DirectIndirectType" id="selectDirectIndirectType" class="mdb-select md-form">
                            <option value="" disabled selected>Type</option>
                            <option value="Direct">Direct</option>
                            <option value="Indirect">Indirect</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <select asp-for="IndividualHouseholdType" id="selectIndividualHouseholdType" class="mdb-select md-form">
                            <option value="" disabled selected>Type</option>
                            <option value="Individual">Individual</option>
                            <option value="Household">Household</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <div class="md-form">
                            <input type="number" value="@Model.Count" id="inputCount" class="form-control">
                            <label for="inputCount">Count</label>
                        </div>
                    </div>
                </div>

                <label id="beneficiaryError" class="red-text d-inline-block"></label>
                <table class="table">
                    <thead class="grey lighten-5">
                        <tr>
                            <th>
                                <select asp-items="@ViewBag.Type" id="selectBeneficiaryType" class="mdb-select md-form m-0">
                                    <option value="" disabled selected>Segregate Beneficiary</option>
                                </select>
                            </th>
                            <th>
                                <div class="md-form m-0">
                                    <input type="text" id="inputBeneficiaryCount" class="form-control">
                                    <label for="inputBeneficiaryCount">Beneficiary Count</label>
                                </div>
                            </th>
                            <th class="text-right" style="width: 130px">
                                <button id="btnBeneficiaryAdd" type="button" class="btn btn-sm btn-outline-success btn-rounded mb-0"><i class="fas fa-user-plus"></i> Add</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="beneficiaryTypeBody">
                        @foreach (var item in Model.ProjectBeneficiaries)
                        {
                            <tr>
                                <td>@item.Count</td>
                                <td>@item.Count</td>
                                <td><i data-id="@item.ProjectBeneficiaryTypeId" class="remove fas fa-trash-alt"></i></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="md-form">
                    <input type="number" value="@Model.TotalCount" id="inputTotalCount" class="form-control">
                    <label for="inputTotalCount">Total Count</label>
                </div>
            </fieldset>
        </div>

        <div class="text-right mt-4">
            <button id="btnSubmit1" type="submit" class="btn btn-custom-bg">Submit</button>
            <button id="btnNext" class="btn btn-outline-info">Next Step <i class="fas fa-arrow-right ml-2"></i></button>
        </div>
    </form>

    <form id="formStep2">
        <div class="card card-body">
            <ul class="progressbar">
                <li class="active">Step 1</li>
                <li class="active">Step 2</li>
            </ul>
            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputProjectName" value="@Model.Title" class="form-control" disabled>
                        <label for="inputProjectName">Project Name</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input type="text" id="inputSubmissionDate" class="form-control datepicker" value="@Model.SubmissionDate.Value.ToString("d MMM yyyy")">
                        <label for="inputSubmissionDate">Submission Date</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <select asp-items="@ViewBag.ReportType" id="selectReportName" class="mdb-select md-form" searchable="Search here..">
                        <option value="" disabled selected>Report Name</option>
                    </select>
                    <span id="errorReportName" class="red-text"></span>
                </div>

                <div class="col-lg-4">
                    <div class="md-form">
                        <div class="file-field">
                            <div class="btn btn-outline-info btn-rounded btn-sm float-left">
                                <span>Choose Attachment</span>
                                <input id="inputAttachment" type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul id="report-list" class="list-group list-group-flush">
                @foreach (var file in Model.ProjectReports)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="report-tems">
                            <span>@file.ReportName</span>
                            <i>@file.FileTitle</i>
                        </div>
                        <i data-id="@file.ReportTypeId" data-old="true" data-filename="@file.FileName" class="remove fas fa-trash-alt red-text"></i>
                    </li>
                }
            </ul>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <button id="btnPrevious" type="button" class="btn btn-grey"><i class="far fa-long-arrow-alt-left mr-1"></i>Previous</button>
            <button id="btnSubmit2" type="submit" class="btn btn-custom-bg">Submit</button>
        </div>
    </form>

    <p id="submitError" class="red-text text-right"></p>
</div>

@section Scripts{
    <script src="~/pages-js/update-project.js?v=2"></script>
    <script>
        model.ProjectDonors = @Html.Raw(Json.Serialize(Model.ProjectDonorIds));
        model.CityIds = @Html.Raw(Json.Serialize(Model.CityIds));
        model.ProjectBeneficiaries = @Html.Raw(Json.Serialize(Model.ProjectBeneficiaries));
        model.ProjectReports = @Html.Raw(Json.Serialize(Model.ProjectReports));

        $(function () {
            $('.mdb-select').materialSelect();
            $('.datepicker').pickadate();
        });

        var elements = document.getElementsByClassName("number-mask");
        const options = {
            mask: Number, // enable number mask
            scale: 2, // digits after point, 0 for integers
            signed: false, // disallow negative
            thousandsSeparator: ',', // any single char
            padFractionalZeros: false, // if true, then pads zeros at end to the length of scale
            normalizeZeros: true, // appends or removes zeros at ends
            radix: '.', // fractional delimiter
            mapToRadix: ['.'], // symbols to process as radix
            min: -10000,
            max: 1000000000
        }

        for (var i = 0; i < elements.length; i++) {
            IMask(elements[i], options);
        }
    </script>
}

